<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bettercode.msamodelforjava.repository.ExampleRepository">

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE
    FROM example
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>

  <resultMap id="example" type="kr.bettercode.msamodelforjava.model.Example">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="age" jdbcType="INTEGER" property="age"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
  </resultMap>

  <insert id="save" keyColumn="id" keyProperty="id" parameterType="kr.bettercode.msamodelforjava.model.Example"
    useGeneratedKeys="true">
    INSERT INTO example (`name`, age, email)
    VALUES (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>

  <select id="findById" parameterType="java.lang.Long" resultMap="example">
    SELECT `id`, `name`, age, email
    FROM example
    WHERE id = #{id,jdbcType=BIGINT}
  </select>

  <update id="updateByIdSelective" parameterType="kr.bettercode.msamodelforjava.model.Example">
    UPDATE example
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
