<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bettercode.msamodelforjava.repository.ExampleRepository">
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete
    from example
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="save" keyColumn="id" keyProperty="id" parameterType="kr.bettercode.msamodelforjava.model.Example"
    useGeneratedKeys="true">
    insert into example (`name`, age, email)
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>

  <resultMap id="example" type="kr.bettercode.msamodelforjava.model.Example">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="age" jdbcType="INTEGER" property="age"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
  </resultMap>

  <update id="updateByPrimaryKeySelective" parameterType="kr.bettercode.msamodelforjava.model.Example">
    update example
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="kr.bettercode.msamodelforjava.model.Example">
    update example
    set `name` = #{name,jdbcType=VARCHAR},
        age    = #{age,jdbcType=INTEGER},
        email  = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
