<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bettercode.msamodelforjava.example.repository.ExampleRepository">

  <resultMap id="example" type="kr.bettercode.msamodelforjava.example.model.Example">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="age" jdbcType="INTEGER" property="age"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
  </resultMap>

  <sql id="search">
    <if test="searchRequest.name != null">
      AND `name` LIKE CONCAT('%', #{searchRequest.name}, '%')
    </if>
    <if test="searchRequest.minAge != null">
      AND `age` >= #{searchRequest.minAge}
    </if>
    <if test="searchRequest.maxAge != null">
      <![CDATA[
      AND `age` <= #{searchRequest.maxAge}
      ]]>
    </if>
    <if test="searchRequest.email != null">
      AND `email` LIKE CONCAT('%', #{searchRequest.email}, '%')
    </if>
  </sql>

  <select id="findById" parameterType="java.lang.Long" resultMap="example">
    SELECT `id`, `name`, age, email
    FROM example
    WHERE id = #{id,jdbcType=BIGINT}
  </select>

  <select id="list" parameterType="kr.bettercode.msamodelforjava.example.dto.request.PageRequest" resultMap="example">
    SELECT `id`, `name`, age, email
    FROM example
    WHERE 1 = 1
    LIMIT #{size,jdbcType=INTEGER}
    <if test="page > 1">
      OFFSET #{offset,jdbcType=INTEGER}
    </if>
  </select>

  <select id="getPagingInfo" parameterType="kr.bettercode.msamodelforjava.example.dto.request.PageRequest"
    resultType="kr.bettercode.msamodelforjava.example.dto.response.PagingInfoResponse">
    SELECT COUNT(*)                                  AS totalCount,
           #{size,jdbcType=INTEGER}                  AS pageSize,
           #{page,jdbcType=INTEGER}                  AS currentPage,
           CEIL(COUNT(*) / #{size,jdbcType=INTEGER}) AS totalPage
    FROM example
    WHERE 1 = 1
  </select>

  <select id="listSearch" resultType="kr.bettercode.msamodelforjava.example.model.Example">
    SELECT `id`, `name`, age, email
    FROM example
    WHERE 1 = 1
    <include refid="search"/>
    LIMIT #{pageRequest.size,jdbcType=INTEGER}
    <if test="pageRequest.page > 1">
      OFFSET #{pageRequest.offset,jdbcType=INTEGER}
    </if>
  </select>

  <select id="getPagingInfoSearch" resultType="kr.bettercode.msamodelforjava.example.dto.response.PagingInfoResponse">
    #@formatter:off
    SELECT COUNT(*)                                  AS totalCount,
           #{pageRequest.size,jdbcType=INTEGER}                  AS pageSize,
           #{pageRequest.page,jdbcType=INTEGER}                  AS currentPage,
           CEIL(COUNT(*) / #{pageRequest.size,jdbcType=INTEGER}) AS totalPage
    #@formatter:on
    FROM example
    WHERE 1 = 1
    <include refid="search"/>
  </select>

  <insert id="save" keyColumn="id" keyProperty="id" parameterType="kr.bettercode.msamodelforjava.example.model.Example"
    useGeneratedKeys="true">
    INSERT INTO example (`name`, age, email)
    VALUES (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>

  <update id="updateByIdSelective" parameterType="kr.bettercode.msamodelforjava.example.model.Example">
    UPDATE example
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE
    FROM example
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>

</mapper>
